<h1>Books#new</h1>
<%= form_for(@book, remote: false) do |f| %>
  <div class="field">
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :author, "Author" %>
    <%= f.text_field :author %>
  </div>
  <div class="field">
    <%= f.submit %>
    <%= link_to("cancel", :books) %>
  </div>
<% end %>
